<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />

  <link rel="icon" href="devchallenges.png" />

  <link rel="shortcut icon" type="image/x-icon" href="https://devchallenges.io/" />

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">

  <title>Devchallenges</title>

  <style></style>
</head>

<body>
  <div class="welcome">
    <div class="welcome-text">
      <header class="header" id="header">
        <h1>Upcube</h1>

      <h2>Upload your pics!</h2>
      <p>They have to be jpg, png...</p>
      </header>

      <main class="uploaderContainer">
        <div class="uploaderDropZone" id="uploaderDropZone">
          <p>Drag and drop your file here</p>
        </div>
        <form action="/" method="POST" enctype="multipart/form-data">

          <label for="name">Image title</label>
          <input type="text" name="name" id="name" placeholder="Name">
          <br>
          <label for="description">Image description</label>
          <textarea name="description" id="description" rows="2" placeholder="Description"></textarea>
          <br>
          <label for="image">Upload images</label>
          <input type="file" name="files[]" id="image" accept="image/png, image/jpeg" multiple required>
          <br>

          <input type="submit" name="uploaderBtn" id="uploaderBtn" value="Submit"></input>
        </form>
      </main>

      <!-- <section class="progressBar" id="progressBar" aria-hidden="true">
        <p>Uploading...</p>
      </section> -->

      <section class="imgContainer" id="imgContainer">
        <% items.forEach(function(image) { %>
          <div>
            <div>
                <img src="data:image/<%=image.img.contentType%>;base64,
                    <%=image.img.data.toString('base64')%>">
                <div>
                    <h5><%= image.name %></h5>
                    <p><%= image.description %></p>
                </div>
            </div>
        </div>
        <% }) %>
      </section>

      <footer class="footer">
        <p>Made by Rafael Oliavres</p>
        <ul>
          <li>GitHub</li>
          <li>Twitter</li>
          <li>Linkdin</li>
        </ul>
      </footer>
    </div>

    <!-- <script src="bower_components/progressbar.js/dist/progressbar.min.js"></script> -->
    <script src="js/index.js"></script>
</body>

</html>