<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />

  <!-- <link rel="icon" href="devchallenges.png" />

  <link rel="shortcut icon" type="image/x-icon" href="https://devchallenges.io/" /> -->

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">

  <title>Devchallenges</title>

  <style></style>
</head>

<body>
  <div class="welcome">
    <div class="welcome-text">
      <header class="header" id="header">
        <h1>Upcube</h1>

      <h2>Upload your pics!</h2>
      <p>They have to be jpg, png...</p>
      </header>

      <main class="uploaderContainer">
        <div class="uploaderDropZone" id="uploaderDropZone">
          <p>Drag and drop your file here</p>
        </div>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file" id="file" accept="image/png, image/jpeg, image/jpg" multiple required>
          <label for="file" id="file-label">Choose file</label>
          <br>

          <input type="submit" name="uploaderBtn" id="uploaderBtn" value="Submit"></input>
        </form>
      </main>

      <!-- <section class="progressBar" id="progressBar" aria-hidden="true">
        <p>Uploading...</p>
      </section> -->

      <section class="imgContainer" id="imgContainer">
        <% if(files){ %>
          <% files.forEach(function(file){ %>
            <p> <%= file.filename %> </p>
          <% if(file.isImage){ %>
            <img src="image/<%= file.filename %>" width="250" alt="">
          <% } else { %>
            <p><% file.filename %></p>
          <% } %>
          <form action="/files/del/<%= file._id %>" method="post">
            <button type="submit" class="btn">Remove</button>
          </form>
          <% }) %>
        <% } %>
      </section>

      <footer class="footer">
        <p>Made by Rafael Oliavres</p>
        <ul>
          <li>GitHub</li>
          <li>Twitter</li>
          <li>Linkdin</li>
        </ul>
      </footer>
    </div>

    <!-- <script src="bower_components/progressbar.js/dist/progressbar.min.js"></script> -->
    <!-- <script src="js/index.js"></script> -->
</body>

</html>